@-moz-document regexp('^https?://servername\\.asmallorange\\.com:8080/[^/]*/frontend.*') {
/* ----
   Base
   - Baseline grid is 7px
   - Colors: #fff, #eee, #ddd, #ccc, #bbb, #aaa, #777, #666, #333, #000
   ---- */

* {
    background-clip: padding-box;
}

body {
    font-family: Helvetica;
}

#cpanel_body {
    margin: 0;
}

#cpanel {
    width: 1000px;
    border: 0;
    border-radius: 4px;
    padding: 4px;
}

#border-efx {
    border-color: #aaa;
}

#soft_div-body > div, #main {
    width: 735px;
}

#sub {
    margin-top: 0;
}

#heading-top-header-bg {
    height: 40px;
    margin-bottom: 14px;
}

#heading-top-billboard {
    height: inherit;
    background: none;
}

#heading-bottom_bg {
    background: none;
    margin-top: 1em;
    padding-top: 7px;
    border-top: 1px solid #aaa;
}

#heading-bottom_bg span {
    display: none;
}

#logo {
    border-radius: 4px;
    display: none;
}

/* ----
   Home
   ---- */

#sub > div {
    border: 1px solid;
}

#sub > div, #boxes .itembox {
    margin: 0 0 14px;
    border-color: #666;
}

.itembox .clearit {
    height: 0;
}

#sub h3, .cellbox h6 {
    padding: 5px 0;
    background-image: none;
    background-color: #333;
    font: normal 10px Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 0;
}

.box-expand-control, .box-collapse-control {
    top: 4px;
    right: 5px;
    border-radius: 2px;
    border: 1px solid #000;
    background: #666;
    box-shadow: inset 0 0 0 1px #777;
}

.box-expand-control:hover, .box-collapse-control:hover {
    background: #777;
}

#sub > div, .cellbox {
    border-radius: 4px;
    background-color: #eee;
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px 1px #ddd;
}

#soft_div-body td, .item {
    display: block;
    float: left;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px 1px #ddd;
    border-radius: 4px;
    padding: 5px 11px;
    height: 80px;
    background: #fff;
    margin: 0 0 7px 7px;
}

#soft_div-body td:hover, .item:hover {
    border-color: #aaa;
}

#soft_div-body td {
    height: 50px;
}

.softac_cat {
    margin: 0 5px 5px;
}

.item .link {
    display: block;
    margin-top: 5px;
    height: 40px;
}

#content-stats table, #stats-header {
    border: 0;
}

#content-stats {
    padding-bottom: 7px;
}

/* ----
   Page
   ---- */

.body-content p, .body-content p.note, .body-content p.description, .body-content {
    font-size: 12px;
    line-height: 18px;
}

.body-content h2, .body-content h4, .body-content h1, .h1Title, #h1Title {
    margin: 0;
    padding: 0.5em 0;
    font-family: Helvetica;
    font-weight: bold;
}

.body-content h1, .h1Title, #h1Title {
    font-size: 1.5em;
}

.body-content h2, .body-content h4 {
    font-size: 1.2em;
}

.body-content input[type='text'] {
    height: 24px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #ddd #ddd #333 #ddd;
    background: #eee;
}

.body-content p img {
    vertical-align: middle;
}

.body-content ol, .body-content ul {
    margin: 0;
    padding: 0 0 0 1px;
    list-style: disc inside;
    margin-bottom: 1em;
}

.body-content ol ol, .body-content ul ul {
    padding-left: 1em;
    margin-bottom: 0;
}

p.note {
    background: #ffe;
    border: 1px solid #eed;
    padding: 7px;
}

.body-content form > p:first-child {
    margin-top: 0;
}

.body-content form > p:last-child {
    margin-bottom: 0;
}

.highlight, .highlight2 {
    padding: 14px;
}

.button-group button, .return-link > a, .create-button, .input-button {
    background: none;
    border: 4px solid #333;
    border-radius: 13px;
    height: 26px;
    padding: 3px 1em;
    font: bold 10px Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    color: #000;
}

.action_link {
    border-bottom: 1px dotted #666;
}

.action_link:hover {
    border-bottom-style: solid;
}

.sortable, .nonsortable {
    margin: 14px 0 0;
}

.sortable, .nonsortable, .dynamic_table {
    border-collapse: separate;
    border-color: #aaa;
}

.sortable th, .nonsortable th, .dynamic_table th {
    padding: 7px 0;
    background-image: none;
    background-color: #333;
    font: normal 10px Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
}

.sortable td, .nonsortable td {
    padding: 7px;
}

.pager-container {
    margin-top: 14px;
    padding: 10px;
    border: 4px solid #eee;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.pager-container span * {
    vertical-align: middle;
}

.pager-page-item:not(.pager-page-item-label) {
    border: 0;
    background: 0;
}

.pager-page-size-selector {
    vertical-align: middle;
    padding: 0 5px;
}

.pager-page-size-selector button {
    position: static;
    vertical-align: bottom;
}

.pager-page-item-label {
    padding: 0;
}

#tutorial_show {
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

.errors, .redtext {
    background: #fee;
    border-color: #edd;
}

.yui-panel .hd > div, .panel .hd > div, .yui-panel .hd, .panel .hd {
    background-image: none;
    margin-top: 0;
}

.yui-panel, .panel {
    background: #fff;
    border: 1px solid #000;
    padding: 7px;
}

.yui-panel > div, .panel > div {
    border: 0;
    background: transparent;
}

.contact_form li {
    list-style: none;
}

}
